<div class='heroes-banner'>
  <img src="/assets/banner.png" alt="banner" >
</div>
<h1 class="text-center py-2 title-index fw-bold">Guild</h1>
<div class="bg-index">
  <div class="container ">
      <div class="paper-card justify-content-center p-3 mb-2">
        <%= link_to new_creature_path, class: 'stat-btn-lg mb-3 w-100' do %>
          <span class='emoji'>âž•</span> New hero
        <% end %>
        <form action="/creatures" method='get' data-controller="class-filter" data-class-filter-target="form" remote>
          <select name="class" id="class" form="class" class='form-select select-class' data-action="change->class-filter#checkClass" data-class-filter-target="inputSelect">
            <option value="">All</option>
            <% Creature::CLASSES.sort.each do |hero_class| %>
              <option value=<%= hero_class %> <%= "selected" if @class == hero_class%>><%= hero_class %></option>
            <% end %>
          </select>
          <input type="text" name='class' class='d-none text-input' data-class-filter-target="inputText">
        </form>
      </div>
    <div class=" paper-card-container">
      <% @creatures.each do |creature| %>
        <div class="paper-card <%= 'dead' if creature.hp.zero? %> px-3 d-flex flex-column justify-content-between">
          <div class="d-flex align-items-start justify-content-between mt-3">
            <div>
              <img src="<%= creature.class_img %>" alt="" class="icon-class">
              <span><%= creature.name %></span>
            </div>
            <p class='m-0 pill-card'><small>Lvl.</small><strong><%= creature.lvl %></strong></p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <%= link_to creature.hp == 0 ? 'ðŸª¦' : "ðŸ”", creature_path(creature), class: 'stat-btn emoji mb-3' %>
            <%= link_to "ðŸ—‘ï¸", creature_path(creature), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to send #{creature.name} home?"}, class: 'stat-btn emoji mb-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
