<div class="pb-2 my-3 show-battle">
  <div class="d-flex align-items-center p-2" style="background-color: <%= creature.color %>; border-radius: 8px 8px 0 0">
    <img src="<%= creature.class_img %>" alt="" class="icon-class me-2">
    <h4 class='m-0'><strong><%= creature.name %></strong></h4>
  </div>
  <div class='w-100 px-2 py-1 d-flex flex-wrap'>
    <% if creature_hp.length == 5 %>
      <div class="hp-display">
        <span class="emoji"><%= creature_hp %></span>
      </div>
    <% else %>
      <% (creature_hp.length / 5).times do |i|%>
        <div class="hp-display">
          <span class="emoji"><%= creature_hp.slice((5*i)..(4 + 5*i)) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr class='mt-0 mb-1'>
  <div class="d-flex justify-content-between px-3">
    <p class='m-0'>HP: <%= creature.hp %>/<%= creature.max_hp %></p>
    <p class='text-end m-0'><small>Lvl. <%= creature.lvl %></small></p>
  </div>
</div>
