<%= @player.name %>
<%= @player.hp %>
<%= @enemy.name %>
<%= @enemy.hp %>

<%= render 'card_status', creature: @player, creature_hp: @player_hp %>
<%= render 'card_status', creature: @enemy, creature_hp: @enemy_hp %>

<%= simple_form_for @battle do |f| %>
    <div>
      <label for="player[hp]">Player</label>
      <input type="number" name="player[hp]">
    </div>
    <div>
      <label for="enemy[hp]">Enemy</label>
      <input type="number" name="enemy[hp]">
    </div>
    <%= f.submit %>
<% end %>
